Currency stats.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Currency stats.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Currency stats.xcodeproj/project.xcworkspace/xcuserdata/alexchek.xcuserdatad/UserInterfaceState.xcuserstate
Currency stats.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
Currency stats.xcodeproj/xcuserdata/alexchek.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Currency stats.xcodeproj/xcuserdata/alexchek.xcuserdatad/xcschemes/xcschememanagement.plist
Currency stats.xcodeproj/xcuserdata/user.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Currency stats.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
